.error {
    color: $primary-color;
    font-family: 'Montserrat';
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    &__code {
        font-weight: 700;
        font-size: 96px;
        line-height: 142.6%;
        margin-top: 130px;
        margin-bottom: 0;
        @include media-query(medium){
            font-size: 160px;
            margin-top: 200px;
        }
        @include media-query(large){
            font-size: 160px;
            margin-top: 50px;
        }
        @include media-query(xlarge){
            font-size: 288px;
            margin-top: 70px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;
        margin-top: 0;
        margin-bottom: 133px;
        @include media-query(medium){
            font-size: 24px;
            margin-bottom: 182px;
        }
        @include media-query(large){
            font-size: 24px;
            margin-bottom: 152px;
        }
        @include media-query(xlarge){
            font-size: 36px;
            margin-bottom: 182px;
        }
    }

    &__link {
        &, &:hover, &:focus, &:active, &:visited {
            color: $primary-color;
            font-weight: 500;
            font-size: 14px;
            line-height: 142.6%;
            text-decoration-line: underline;
            @include media-query(medium){
                font-size: 18px;
            }
            @include media-query(xlarge){
                font-size: 18px;
            }
        }
    }
}