.home {
    margin: 0 5%;
    margin-top: 63px; 
    &__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 60px;
        row-gap: 40px;
        background: $light-grey;
        padding: 50px;
        border-radius: 25px;
        margin-bottom: 25px;
        }
}