.singleproduct {
    margin: 0 5%;
    margin-top: 16px;
    color: $primary-color;

    @include media-query(medium) {
        margin-top: 43px;
    }
    @include media-query(xlarge) {
        margin-top: 63px;
    }
    &__container {
        margin-top: 20px;
        
        @include media-query(medium){
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }
    }
    &__title {
        margin: 0;
        font-weight: 500;
        font-size: 18px;
        line-height: 142.6%;

        @include media-query (medium) {
            font-size: 24px;
        }
        @include media-query (xlarge) {
            font-size: 36px;
        }
    }
    &__location{
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;

        @include media-query (medium) {
            font-size: 16px;
        }
        @include media-query (xlarge) {
            font-size: 18px;
        }
    }
    &__tag {
        display: flex;
        flex-wrap: wrap;
      }

    &__idcard {
        margin-top: 5px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        
        @include media-query (medium) {
            flex-direction: column-reverse;
            justify-content: space-around;
            margin: 0;
        }
    }
    &__dropdown {
        @include media-query(large) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 50px;
        }
        @include media-query(xlarge) {
            column-gap: 76px;
        }
    }
}