@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.page {
  position: relative;
  min-height: 100vh;
}
.page__content {
  padding-bottom: 209px;
}

.hero {
  width: 100%;
  height: 111px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 22px;
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 153px;
    border-radius: 15px;
    margin-bottom: 33px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero {
    height: 223px;
    border-radius: 25px;
    margin-bottom: 43px;
  }
}
.hero__img {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3019607843);
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
.hero__text {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: inherit;
  transform: translate(0, -18%);
  height: inherit;
  width: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #fff;
  margin-left: 16px;
}
@media only screen and (min-width: 768px) {
  .hero__text {
    justify-content: center;
    font-size: 28px;
  }
}
@media only screen and (min-width: 992px) {
  .hero__text {
    font-size: 34px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero__text {
    font-size: 48px;
  }
}

.thumb {
  width: 100%;
  height: 255px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 600ms ease-in-out;
}
.thumb:hover .thumb__img {
  transform: scale(1.05);
  transition: transform 200ms ease-in-out;
}
@media only screen and (min-width: 768px) {
  .thumb {
    height: 300px;
  }
}
@media only screen and (min-width: 1200px) {
  .thumb {
    height: 340px;
  }
}
.thumb__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
  aspect-ratio: 1/1;
  transform: scale(1);
}
.thumb__overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.thumb__title {
  z-index: 10;
  position: absolute;
  bottom: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #fff;
  box-sizing: inherit;
  margin: 20px 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tag {
  position: relative;
  background: #ff6060;
  border-radius: 5px;
  color: #fff;
  padding: 2px 14px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 68px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .tag {
    padding: 2.5px 12px;
    border-radius: 7px;
  }
}
@media only screen and (min-width: 1200px) {
  .tag {
    padding: 3px 10px;
    border-radius: 10px;
  }
}
.tag__name {
  margin: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 142.6%;
}
@media only screen and (min-width: 768px) {
  .tag__name {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1200px) {
  .tag__name {
    font-size: 14px;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rating__icon {
  margin-right: 2px;
  height: 15px;
}
@media only screen and (min-width: 768px) {
  .rating__icon {
    height: 22px;
  }
}
@media only screen and (min-width: 1200px) {
  .rating__icon {
    height: 30px;
  }
}

.host {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.host__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 142.6%;
  margin-right: 10px;
  color: #ff6060;
}
@media only screen and (min-width: 768px) {
  .host__name {
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
  }
}
@media only screen and (min-width: 1200px) {
  .host__name {
    font-size: 18px;
    flex-direction: column;
    justify-content: center;
  }
}
.host__firstname {
  margin: 0;
  text-align: end;
}
.host__lastname {
  margin: 0;
  text-align: end;
}
.host__img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
@media only screen and (min-width: 768px) {
  .host__img {
    height: 48px;
    width: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .host__img {
    height: 64px;
    width: 64px;
  }
}

.collapse {
  color: #fff;
  margin-bottom: 20px;
  line-height: 142.6%;
}
.collapse:nth-of-type(1) {
  animation: reveal 600ms 120ms both;
  transform-origin: center;
}
.collapse:nth-of-type(2) {
  animation: reveal 600ms 240ms both;
  transform-origin: center;
}
.collapse:nth-of-type(3) {
  animation: reveal 600ms 360ms both;
  transform-origin: center;
}
.collapse:nth-of-type(4) {
  animation: reveal 600ms 480ms both;
  transform-origin: center;
}
.collapse__button {
  color: #f7f7f7;
  width: 100%;
  border: none;
  border-radius: 10px;
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  padding: 20px 13px;
  font-weight: 500;
}
@media only screen and (min-width: 768px) {
  .collapse__button {
    height: 38px;
  }
}
@media only screen and (min-width: 1200px) {
  .collapse__button {
    height: 47px;
  }
}
.collapse__text {
  font-size: 13px;
}
@media only screen and (min-width: 768px) {
  .collapse__text {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .collapse__text {
    font-size: 24px;
  }
}
.collapse__arrow {
  margin-right: 1rem;
  pointer-events: none;
  transform: rotate(180deg);
  transition: transform 300ms;
  height: 9px;
}
@media only screen and (min-width: 768px) {
  .collapse__arrow {
    height: 11px;
  }
}
@media only screen and (min-width: 1200px) {
  .collapse__arrow {
    height: 14px;
  }
}
.collapse__content {
  color: #ff6060;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-top: -5px;
  z-index: -1;
  max-height: 0;
  transition: max-height 250ms ease-out, padding 300ms ease-out;
  overflow: hidden;
  padding-left: 12px;
}
.collapse__text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.6%;
}
@media only screen and (min-width: 768px) {
  .collapse__text {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .collapse__text {
    font-size: 18px;
  }
}
.collapse__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.6%;
}
@media only screen and (min-width: 768px) {
  .collapse__list {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1200px) {
  .collapse__list {
    font-size: 18px;
  }
}

.rotate {
  transform: rotate(0deg);
}

.open {
  max-height: 500px;
  padding: 24px 12px 12px 12px;
  transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
}

@keyframes reveal {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.slider {
  position: relative;
  height: 255px;
  width: 100%;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .slider {
    height: 315px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider {
    height: 415px;
  }
}
.slider__on {
  height: inherit;
  width: inherit;
  transform: scale(1);
  opacity: 1;
  transition: transform 100ms, opacity 1000ms;
}
.slider__off {
  opacity: 50%;
}
.slider__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) {
  .slider__img {
    border-radius: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .slider__img {
    border-radius: 25px;
  }
}
.slider__prev, .slider__next {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.slider__prev--icon--rotate, .slider__next--icon {
  height: 16px;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
}
@media only screen and (min-width: 768px) {
  .slider__prev--icon--rotate, .slider__next--icon {
    height: 50px;
  }
}
.slider__next {
  right: 0;
}
.slider__next--icon {
  margin-right: 23px;
}
.slider__prev--icon--rotate {
  margin-left: 23px;
  transform: rotate(180deg);
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: 46px;
  width: 100%;
  background: black;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__text {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}
@media only screen and (min-width: 768px) {
  .footer__text {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__text {
    font-size: 24px;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 5%;
  padding-top: 20px;
}
@media only screen and (min-width: 992px) {
  .banner {
    padding-top: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner {
    padding-top: 40px;
  }
}
.banner__img {
  height: 47px;
}
@media only screen and (min-width: 992px) {
  .banner__img {
    height: 54px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner__img {
    height: 62px;
  }
}
.banner__nav {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (min-width: 768px) {
  .banner__nav {
    gap: 47px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner__nav {
    gap: 57px;
  }
}
.banner__button {
  color: #ff6060;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 142.6%;
  align-self: flex-end;
}
@media only screen and (min-width: 768px) {
  .banner__button {
    text-transform: none;
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .banner__button {
    text-transform: none;
    font-size: 24px;
  }
}
.banner__button.active {
  text-decoration: underline;
}

.home {
  margin: 0 5%;
  margin-top: 16px;
}
@media only screen and (min-width: 768px) {
  .home {
    margin-top: 43px;
  }
}
@media only screen and (min-width: 1200px) {
  .home {
    margin-top: 63px;
  }
}
.home__products {
  margin-bottom: 25px;
  display: grid;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .home__products {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
    background: #f7f7f7;
    padding: 40px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 992px) {
  .home__products {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
    background: #f7f7f7;
    padding: 40px;
    border-radius: 25px;
  }
}
@media only screen and (min-width: 1200px) {
  .home__products {
    padding: 50px;
    row-gap: 40px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.error {
  color: #ff6060;
  font-family: "Montserrat";
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.error__code {
  font-weight: 700;
  font-size: 96px;
  line-height: 142.6%;
  margin-top: 130px;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  .error__code {
    font-size: 160px;
    margin-top: 200px;
  }
}
@media only screen and (min-width: 992px) {
  .error__code {
    font-size: 160px;
    margin-top: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .error__code {
    font-size: 288px;
    margin-top: 70px;
  }
}
.error__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  margin-top: 0;
  margin-bottom: 133px;
}
@media only screen and (min-width: 768px) {
  .error__text {
    font-size: 24px;
    margin-bottom: 182px;
  }
}
@media only screen and (min-width: 992px) {
  .error__text {
    font-size: 24px;
    margin-bottom: 152px;
  }
}
@media only screen and (min-width: 1200px) {
  .error__text {
    font-size: 36px;
    margin-bottom: 182px;
  }
}
.error__link, .error__link:hover, .error__link:focus, .error__link:active, .error__link:visited {
  color: #ff6060;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
  text-decoration-line: underline;
}
@media only screen and (min-width: 768px) {
  .error__link, .error__link:hover, .error__link:focus, .error__link:active, .error__link:visited {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1200px) {
  .error__link, .error__link:hover, .error__link:focus, .error__link:active, .error__link:visited {
    font-size: 18px;
  }
}

.singleproduct {
  margin: 0 5%;
  margin-top: 16px;
  color: #ff6060;
}
@media only screen and (min-width: 768px) {
  .singleproduct {
    margin-top: 43px;
  }
}
@media only screen and (min-width: 1200px) {
  .singleproduct {
    margin-top: 63px;
  }
}
.singleproduct__container {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .singleproduct__container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
}
.singleproduct__title {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}
@media only screen and (min-width: 768px) {
  .singleproduct__title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .singleproduct__title {
    font-size: 36px;
  }
}
.singleproduct__location {
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
}
@media only screen and (min-width: 768px) {
  .singleproduct__location {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1200px) {
  .singleproduct__location {
    font-size: 18px;
  }
}
.singleproduct__tag {
  display: flex;
  flex-wrap: wrap;
}
.singleproduct__idcard {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 768px) {
  .singleproduct__idcard {
    flex-direction: column-reverse;
    justify-content: space-around;
    margin: 0;
  }
}
@media only screen and (min-width: 992px) {
  .singleproduct__dropdown {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  .singleproduct__dropdown {
    -moz-column-gap: 76px;
         column-gap: 76px;
  }
}

.about {
  margin: 0 5%;
  margin-top: 17px;
}
@media only screen and (min-width: 768px) {
  .about {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    margin-top: 44px;
  }
}
.about .hero {
  height: 223px !important;
}
.about__container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media only screen and (min-width: 768px) {
  .about__container {
    gap: 7px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .about__container {
    gap: 15px;
  }
}/*# sourceMappingURL=main.css.map */