.slider {
    position: relative;
    height: 255px;
    width: 100%;
    overflow: hidden;

    @include media-query(medium) {
        height: 315px;
    }
    @include media-query(xlarge) {
        height: 415px;
    }

    &__on {
        height: inherit;
        width: inherit;
        transform: scale(1);
        opacity: 1;
        transition: transform 100ms, opacity 1000ms
    }
    &__off {
        opacity: 50%;
    }

    &__img {
        width: inherit;
        height: inherit;
        object-fit: cover;
        border-radius: 10px;
        
        @include media-query(medium) {
            border-radius: 15px;
        }
        @include media-query(xlarge) {
            border-radius: 25px;
        }
    }

    &__prev, &__next {
        position: absolute;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__prev--icon--rotate, &__next--icon {
        height: 16px;
        filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
        @include media-query(medium) {
            height: 50px;
        }
    }
    &__next {
        right: 0;
        &--icon {
            margin-right: 23px;
        }
    }
    &__prev {
        &--icon {
            &--rotate {
                margin-left: 23px;
                transform: rotate(180deg);
            }
        }
    }

}