.collapse {
  color: $white;
  margin-bottom: 20px;
  line-height: 142.6%;

  @for $i from 1 through 4 {
    &:nth-of-type(#{$i}) {
      $delay: 120ms * $i;
      animation: reveal 600ms $delay both;
      transform-origin: center;
    }
  }

  &__button {
      color: $light-grey;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: $primary-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 30px;
      cursor: pointer;
      position: relative;
      z-index: 1;
      padding: 20px 13px;
      font-weight: 500;
      
      
      @include media-query(medium) {
        height: 38px;
      }
      @include media-query(xlarge) {
        height: 47px;
      }
    }
    
    &__text {
      font-size: 13px;
      
      @include media-query(medium) {
        font-size: 18px;
      }
      @include media-query(xlarge) {
        font-size: 24px;
      }
    }

    &__arrow {
        margin-right: 1rem;
        pointer-events: none;
        transform: rotate(180deg);
        transition: transform 300ms;
        height: 9px;
        
        @include media-query(medium) {
          height: 11px;
        }
        @include media-query(xlarge) {
          height: 14px;
        }
        
    }

    &__content {
        color: $primary-color;
        background-color: $light-grey;
        border-radius: 5px;
        margin-top: -5px;
        z-index: -1;
        max-height: 0;
        transition: max-height 250ms ease-out, padding 300ms ease-out;
        overflow: hidden;
        padding-left: 12px;


      }
      &__text {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 142.6%;
        
        @include media-query(medium) {
          font-size: 14px;
        }
        @include media-query(xlarge) {
          font-size: 18px;
        }
      }
      &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 142.6%;
         
        @include media-query(medium) {
          font-size: 14px;
        }
        @include media-query(xlarge) {
          font-size: 18px;
        }
      }
}

.rotate {
    transform: rotate(0deg);
  }

  .open {
    max-height: 500px;
    padding: 24px 12px 12px 12px;
    transition: max-height 250ms ease-in-out, padding 300ms ease-in-out;
  }

  @keyframes reveal {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }