.host {
    display: flex;
    justify-content: flex-end ;
    align-items: center;

    &__name{
        font-weight: 500;
        font-size: 12px;
        line-height: 142.6%;
        margin-right: 10px;
        color: $primary-color;
        
        @include media-query(large) {
            font-size: 18px;
            flex-direction: column;
            justify-content: center;
        }
    }
    &__firstname {
        margin: 0;
        text-align: end;
    }
    &__lastname {
        margin: 0;
        text-align: end;
    }
    &__img {
        border-radius: 50%;
        height: 32px;
        width: 32px;
        @include media-query(large) {
            height: 64px;
            width: 64px;
          }
    }
}