.rating {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__icon {
        margin-right: 2px;
        height: 15px;
        @include media-query(large) {
            height: 30px;
        }
    }
}