.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    padding-top: 20px;
    @include media-query(large) {
        margin: 5% 5%;
        }
   
    &__img {
        height: 47px;
        @include media-query(large) {
            height: 68px;
        }
    }
    &__nav {
        display: flex;
        width: 33%;
        justify-content: space-around;
        @include media-query(large) {
            width: 33%;
            }
    }
}