.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5%;
    padding-top: 40px;
   
    &__img {
        height: 62px;
    }
    &__nav {
        display: flex;
        width: 25%;
        justify-content: space-between;
        gap: 57px;
    }
    &__button {
        width: 50%;
        color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-decoration: none;
        font-weight: 500;
        font-size: 24px;
        &.active {
            text-decoration: underline;
        }
    }
}
